
* {
    font-family: "Sawarabi Mincho", serif;
    margin: 0;
    padding: 0;
}


body{
    background: #000000;
    color: #ffffff;
}

/*header*/

#header{
    width: 100%;
    height: 100vh;
    background-image: url(img/background.png);
    background-position: right;
    background-size: 50%;
    background-repeat:no-repeat;
}

.container{
    padding: 10px 10%;
}

.sub-title{
    color:red;
}

nav{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content:space-between;
}

.logo{
    width: 300px
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin: 10px 20px;
}

nav ul li a{
    color: red;
    text-decoration: none;
    font-size:18px;
    position:relative;
    transition:0.7s;
}


nav ul li a:hover{
    font-size:25px;
}

nav ul li a::after{
    content:"";
    width:0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.7s;
}

    nav ul li a:hover::after{
        width:100%;
       
    }
.header-text{
    margin-top:20%;
}

.header-text h1{
    margin-top:10px;
}
.header-text h1 .cel{
    color:#60ffeb
}
.header-text h1 .bla{
    color:white
}
    .header-text h1 #ama{
        color:yellow;
    }







/*about*/




#about {

    padding: 80px;
    color: #ffffff;
    
}

.row-about{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.ab-column-img{
    flex-basis: 35%;
}

.ab-column-img img{
    width:100%;
}

.ab-column-txt{
   
    flex-basis: 65%;
    
}

.titulos-menu{
    display:flex;
    margin: 20px 0 50px;
    color:#ff6767
}

.menu-links {
    margin-right: 30px;
    font-size: 18px;
    font-weight:500;
    cursor:pointer;
    position: relative;
}

.menu-links::after {
    content: "";
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.7s;
}

.menu-links:hover{
    font-size:22px;
}

.menu-links.activeL::after{
    width:70%;

}

.contenido-menu ul li {
    list-style: none;
    margin: 10px 0;
    color: lightcoral;
}

.contenido-menu ul li span{
    color:white;
    font-size: 12px;

}

.contenido-menu{
    display: none;
}

.contenido-menu.activeC{
    display: block;
}

/*Proyectos Universidad*/

#proyectosUni {
    padding: 30px 0;
}

.proyUni-list {
    text-align:center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows:250px;
    grid-gap: 40px;
    margin-top: 50px;
}



.pu-column{
    position:relative;
    color: #ff6767;
    background-color: #222222;
    padding:12px;
    border-radius:20px;
    transition:1s;
    overflow:hidden;
}

.pu-column:hover {
    background-color: #4800ff;
    transform:translateY(-10px);
    color:black;
    transform:scale(1.2);
}

.imgProy {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition:3s ease-in;
    display:block;
}

.pu-column:hover .imgProy {
    transform: scale(1.9);
    height: 100%;
}

.pu-column:hover .layer {
    display: block;
    
    width: 100%;
    height: 100%;
}

.layer {
    backdrop-filter: blur(1px);
    transition: backdrop-filter 2s, width 2s, height 2s, background 2s;
    border-radius: 20px;
    width: 100%;
    height: 50%;
    position: absolute;
    text-align: center;
    align-content: center;
    top: 0;
    left: 0;
}

.layer h2{
    text-shadow:2px 2px 2px black;
}