:root {
    --background-color: #000000;
    --font-color:#ffffff;
    --subtitle-color:rgb(0, 0, 0);
    --nav-fon-color:rgb(0, 0, 0);
    --nav-underline-color: rgb(0, 0, 0) ;
    --head-color:rgb(0, 0, 0);
    --titulos-menu:rgb(0, 0, 0);
    --menu-links-undeline:rgb(114, 114, 114);
    --contenido-menu-title:rgb(0, 0, 0);
    --contenido-menu-contenido:rgb(0, 0, 0);
    --pu-column-text:rgb(0, 0, 0);
    --pu-column-background:grey;
    --pu-column-hover-background:#4800ff;
    --pu-column-hover-text:black;
    --form-background:rgb(252, 252, 252);
    --form-text:rgb(0, 0, 0);
    --nav-background:rgb(255, 255, 255);
    --header-text-background:rgb(255, 255, 255);
    --header-text:rgb(0,0,0);
    --shadow-color:gray;
    --row-about-background:white;
    --ab-column-text:black;
    --nav-icon:black;
    --button-background:white;
    --button-text:black;
} 


* {
    font-family: "Sawarabi Mincho", serif;
    margin: 0;
    padding: 0;
}

@keyframes rotate {

    0% {
        transform: rotate(65deg);      
    }
    100%{
        transform: rotate(80deg);
    }
    
}

@keyframes rotate2 {

    0% {
        transform: rotate(-65deg);      
    }
    100%{
        transform: rotate(-80deg);
    }
    
}

@keyframes tra {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,1000px);
    }
}
@keyframes tra2 {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,1000px);
    }
}


button{
    background-color: var(--button-background);
    color: var(--button-text);
    border-style:solid;
    padding: 10px;
    border-radius: 20px;
    transition: 0.2s;

}

button:hover{
    background-color: var(--button-text);
    color: var(--button-background);
    border-style: none;
    padding: 10px;
    border-radius: 20px;
}

body{
    background: var(--background-color);
    color: var(--font-color)
}

/*header*/

#header{
    width: auto;
    height: 100vh;
    background-image: url(img/backgwid.png);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-position-y: top;
    background-size:70vw;
    
}


.container{
    padding: 10px 10%;
    display: block;
}



.sub-title{
    color:var(--subtitle-color)
}

nav{
    display: flex;
    align-items: center;
    flex-wrap:nowrap;
    justify-content:space-around;
    background-color: var(--nav-background);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 10px 20px 9px var(--shadow-color);
}

.logo{
    max-height: 100px;
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin: 10px 20px;
}
nav ul li a{
    color: var(--nav-fon-color);
    text-decoration: none;
    font-size:18px;
    position:relative;
    transition:0.7s;
}


nav ul li a:hover{
    font-size:25px;
}

nav ul li a::after{
    content:"";
    width:0;
    height: 3px;
    background: var(--nav-underline-color);
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.7s;
}

    nav ul li a:hover::after{
        width:100%;
       
    }
.header-text{
    padding: 20px;
    margin-top:20%;
    border-radius: 20px;
    width: max-content;
    background-color: var(--header-text-background);
    color: var(--header-text);
    box-shadow: 0px 10px 20px 9px var(--shadow-color);

}

.header-text h1{
    margin-top:10px;
}

#hea{
    color: var(--head-color);
}





/*about*/


#about {
    padding: 20px
}



.row-about{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    background-color: var(--row-about-background);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 9px var(--shadow-color);
}

.ab-column-img{
    flex-basis: 20%;
    position: relative;
}

.ab-column-img img{
    width:100%;
    object-fit: cover;
}

.overlayImgAb{
    position: absolute;
    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 95%);
    
}

.ab-column-txt{
   color: var(--ab-column-text);
    flex-basis: 80%;
    width: fit-content;
    
}

.menuha{
    color: var(--ab-column-text);
    flex-basis: 100%;
    display: flex;
}

.titulos-menu{
    display:flex;
    margin: 0px 0 0px;
    color:var(--titulos-menu)
}

.menu-links {
    margin-right: 0px;
    font-size: 18px;
    font-weight:500;
    cursor:pointer;
    position: relative;
    transition: 1s;
    margin-right: 20px;
}

.menu-links::after {
    content: "";
    width: 0;
    height: 3px;
    background: var(--menu-links-undeline);
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.7s;
}

.menu-links:hover{
    font-size:22px;
}

.menu-links.activeL::after{
    width:70%;

}

.contenido-menu ul li {
    list-style: none;
    margin: 10px 0;
    color: var(--contenido-menu-title);
}

.contenido-menu ul li span{
    color:var(--contenido-menu-contenido);
    font-size: 12px;

}

.contenido-menu{
    display: none;
}

.contenido-menu.activeC{
    display: block;
}

/*Proyectos Universidad*/



#proyectosUni {
    padding: 30px 0;
    border-radius: 18px;
    margin: 20vw 40px;
    background-color: var(--header-text-background);
    box-shadow: 0px 10px 20px 9px var(--shadow-color);
    overflow: hidden;
}

button.owl-prev{
    background-color: black;
    color: white
}

.navCarrousel{
    display: flex;
    justify-content: space-between;
}

button.owl-next{
    background-color: black;
    color: white
}

.owl-dots{
    display: flex;
    justify-content: space-around;
}

.owl-dot{
    margin-right: 10px;
    background-color: black;
    border-color: #4800ff;
}

/*.proyUni-list {
    text-align:center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows:250px;
    grid-gap: 40px;
    margin-top: 50px;
}*/

.owl-stage {
    margin: 10px 0;
    display: flex;
}
.pu-column {
    border-style:solid;
    border-color: #000000;
    margin: 0 30px 6px;
    width: 320px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pu-column-text);
    background: #343434 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    transform: translate3d(0,0,30px);
    box-shadow: 0px 10px 20px 9px var(--shadow-color);
}

.pu-column.active {
    width: 500px;
    transform:matrix3d()
}

.layer {
    display: flex;
    flex-direction: column;
    position:absolute;
    height: fit-content;
    width: fit-content;
    background-color: #ffffff;
}


footer{
    padding-top: 20px;
    text-align: center;
    font-size: 10px;
}


/*-----------------contac---------------*/

.con-rowleft{
    flex-basis: 35%;
}

.con-rowleft p{
    margin-top: 20px;
}

.con-rowrigth{
    flex-basis: 60%;
}

.redes{
    margin-top: 30px;
    
}

.redes a .fa-brands{
    font-size: 30px;
    color:grey;
    transition: 1s;
    padding-right: 20px;
}
.redes a .fa-brands:hover{
    font-size: 30px;
    color:white;
}
.con-rowrigth form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: var(--form-background);
    color: var(--form-text);
    padding: 10px;
    margin: 15px 0;
    border-radius: 6px;
}


/*------------VERTICAL-----------*/

nav .fa-solid{
    display: none;
}

@media (max-width: 600px){
    
    .sub-title{
        font-size: 40px;
    }

    .container{
        padding: 5px;
    }

    #cH{
        display: flex;
        justify-content: center;
    }

    #header{
        justify-items: center;
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position:right;
        background-clip: content-box;
        background-position-y: 10vh;
        background-size:contain;
        background-image: url(img/backgrod.png);
    }


    .header-text{
        margin-top:70%;
        margin-left: 0;
        width: 80%;
    }
        
    .header-text h1{
        margin-top:10px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
        color: var(--nav-icon);
        cursor:pointer;
    }

    nav li ul.fa-solid{
        color: var(--nav-icon);
    }
    
    nav ul{
        background: var(--nav-background);
        position: fixed;
        top: 0;
        right: -200px;
        width: 40%;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.2s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 10px;

    }

    .sub-title{
        text-align: center;
    }

    .ab-column-img ,.ab-column-txt{
        flex-basis: 100%;
    }
    .ab-column-img img{
        height: 40vh;
        width: auto;
    }
    .ab-column-img{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        
    }
    .ab-column-txt{
        font-size: 14px;
        text-align:justify ;
        width: 100%;
    }
    
    .ab-column-txt p{
        overflow: scroll;
        
        height: 40vh;
    }

    .menuha{
        flex-direction: column; 
    }
    .titulos-menu{
        flex-direction: column; 
    }

    .menu-links{
        padding-top: 10px;
    }

    .pu-column{
        height: auto;
        width: 50vw;
    }

    .pu-column.active{
        width: 60vw;
    }
    
    #proyectosUni{
        margin: 20px;
    }

    form input, form textarea{
        padding-left: 10px;
        padding-right:0 ;
        width: 96%;
    }


    @keyframes rotate {

        0% {
            transform: rotate(40deg);      
        }
        100%{
            transform: rotate(88deg);
        }
        
    }
    
    @keyframes rotate2 {
    
        0% {
            transform: rotate(-60deg);      
        }
        100%{
            transform: rotate(-70deg);
        }
        
    }
}
    /*----------------------horizontal---------------------*/

@media (min-width: 600px) and (max-width: 1000px){
    
    #cH{
        display: flex;
        justify-content: center;
        
    }
    #header{
        background-size: contain;
    }




    #about{
        margin-top: calc(40vh * 1.2);
        padding: 0;
    }
    .ab-column-img{
        flex-basis: 30%;
    }
    
    .row-about{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 0;
    }

    .ab-column-img img{
        width:auto;
        height: 80vh;
    }
    
    .ab-column-txt{
        flex-basis: 65%;
        color: var(--ab-column-text);
        width: fit-content;
    }
    .ab-column-txt p{
        height: 80vh;
        overflow: scroll;
    }

    

    .pu-column{
        height: auto;
        width: 20vw;
    }

    .pu-column.active{
        width: 60vw;
    }






}