:root {
    --background-color: #000000;
    --font-color:#ffffff;
    --subtitle-color:rgb(0, 0, 0);
    --nav-fon-color:rgb(0, 0, 0);
    --nav-underline-color: rgb(0, 0, 0) ;
    --head-color:rgb(0, 0, 0);
    --titulos-menu:rgb(0, 0, 0);
    --menu-links-undeline:rgb(114, 114, 114);
    --contenido-menu-title:rgb(0, 0, 0);
    --contenido-menu-contenido:rgb(0, 0, 0);
    --pu-column-text:lightcoral;
    --pu-column-background:grey;
    --pu-column-hover-background:#4800ff;
    --pu-column-hover-text:black;
    --form-background:rgb(252, 252, 252);
    --form-text:rgb(0, 0, 0);
    --nav-background:rgb(255, 255, 255);
    --header-text-background:rgb(255, 255, 255);
    --header-text:rgb(0,0,0);
    --shadow-color:gray;
    --row-about-background:white;
    --ab-column-text:black;
    --nav-icon:black;
    --button-background:white;
    --button-text:black;
} 


* {
    font-family: "Sawarabi Mincho", serif;
    margin: 0;
    padding: 0;
}

@keyframes rotate {

    0% {
        transform: rotate(65deg);      
    }
    100%{
        transform: rotate(80deg);
    }
    
}

@keyframes rotate2 {

    0% {
        transform: rotate(-65deg);      
    }
    100%{
        transform: rotate(-80deg);
    }
    
}

@keyframes tra {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,1000px);
    }
}
@keyframes tra2 {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,1000px);
    }
}


button{
    background-color: var(--button-background);
    color: var(--button-text);
    border-style:solid;
    padding: 10px;
    border-radius: 20px;
    transition: 0.2s;
}

button:hover{
    background-color: var(--button-text);
    color: var(--button-background);
    border-style: none;
    padding: 10px;
    border-radius: 20px;
}

body{
    background: var(--background-color);
    color: var(--font-color)
}

/*header*/

#header{
    width: 100%;
    height: 100vh;
    background-image: url(/img/back1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-clip: content-box;
    background-position-y: bottom;
    background-size: 100vh;
}


.container{
    padding: 10px 10%;
}

.sub-title{
    color:var(--subtitle-color)
}

nav{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content:space-around;
    background-color: var(--nav-background);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 10px 20px 9px var(--shadow-color);
}

.logo{
    max-height: 100px;
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin: 10px 20px;
}

nav ul li a{
    color: var(--nav-fon-color);
    text-decoration: none;
    font-size:18px;
    position:relative;
    transition:0.7s;
}


nav ul li a:hover{
    font-size:25px;
}

nav ul li a::after{
    content:"";
    width:0;
    height: 3px;
    background: var(--nav-underline-color);
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.7s;
}

    nav ul li a:hover::after{
        width:100%;
       
    }
.header-text{
    padding: 20px;
    margin-top:20%;
    border-radius: 20px;
    width: max-content;
    background-color: var(--header-text-background);
    color: var(--header-text);
    box-shadow: 0px 10px 20px 9px var(--shadow-color);
}

.header-text h1{
    margin-top:10px;
}

#hea{
    color: var(--head-color);
}





/*about*/




#about {

    padding: 20px;

    
}

.row-about{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    background-color: var(--row-about-background);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 9px var(--shadow-color);
}

.ab-column-img{
    flex-basis: 35%;
}

.ab-column-img img{
    width:100%;
}

.ab-column-txt{
   color: var(--ab-column-text);
    flex-basis: 65%;
    width: fit-content;
    
}

.titulos-menu{
    display:flex;
    margin: 20px 0 50px;
    color:var(--titulos-menu)
}

.menu-links {
    margin-right: 30px;
    font-size: 18px;
    font-weight:500;
    cursor:pointer;
    position: relative;
    transition: 1s;
}

.menu-links::after {
    content: "";
    width: 0;
    height: 3px;
    background: var(--menu-links-undeline);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.7s;
}

.menu-links:hover{
    font-size:22px;
}

.menu-links.activeL::after{
    width:70%;

}

.contenido-menu ul li {
    list-style: none;
    margin: 10px 0;
    color: var(--contenido-menu-title);
}

.contenido-menu ul li span{
    color:var(--contenido-menu-contenido);
    font-size: 12px;

}

.contenido-menu{
    display: none;
}

.contenido-menu.activeC{
    display: block;
}

/*Proyectos Universidad*/

#proyectosUni {
    padding: 30px 0;
}

.proyUni-list {
    text-align:center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows:250px;
    grid-gap: 40px;
    margin-top: 50px;
}



.pu-column{
    position:relative;
    color: var(--pu-column-text);
    background-color: var(--pu-column-background);
    border-radius:20px;
    transition:1s;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pu-column:hover {
    background-color: var(--pu-column-hover-background);
    transform:translateY(-10px);
    color:var(--pu-column-hover-text);
    transform:scale(1.2);
}

.imgProy {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    transition:3s ease-in;
}

.pu-column:hover .imgProy {
    transform: scale(1.9);
    height: 100%;
}

.pu-column:hover .layer {
    bottom: 0;
    width: 100%;
    height: 100%;
}

.layer {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    transition: backdrop-filter 2s, bottom 2s ,width 2s, height 2s, background 2s;
    border-radius: 20px;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 80%;
    bottom: -90px;
}

footer{
    padding-top: 20px;
    text-align: center;
}


/*-----------------contac---------------*/

.con-rowleft{
    flex-basis: 35%;
}

.con-rowleft p{
    margin-top: 20px;
}

.con-rowrigth{
    flex-basis: 60%;
}

.redes{
    margin-top: 30px;
    
}

.redes a .fa-brands{
    font-size: 30px;
    color:grey;
    transition: 1s;
    padding-right: 20px;
}
.redes a .fa-brands:hover{
    font-size: 30px;
    color:white;
}
.con-rowrigth form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: var(--form-background);
    color: var(--form-text);
    padding: 10px;
    margin: 15px 0;
    border-radius: 6px;
}


/*------------VERTICAL-----------*/

nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){

    #header{
        justify-items: center;
        width: 100%;
        height: 100vh;
        background-image: url(/img/back1.png);
        background-repeat: no-repeat;
        background-position:right;
        background-clip: content-box;
        background-position-y: 20vh;
        background-size: 100vw;
    }

    .header-text{
        margin-top:100%;
    }
        
    .header-text h1{
        margin-top:10px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
        color: var(--nav-icon);
        cursor:pointer;
    }

    nav li ul.fa-solid{
        color: var(--nav-icon);
    }
    
    nav ul{
        background: var(--nav-background);
        position: fixed;
        top: 0;
        right: -200px;
        width: 40%;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.2s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 10px;

    }

    .sub-title{
        font-size: 40px;
    }

    .container{
        padding: 20px;
    }

    .ab-column-img ,.ab-column-txt{
        flex-basis: 100%;
    }

    .ab-column-img{
        margin-bottom: 10px;
    }
    .ab-column-txt{
        font-size: 14px;
        text-align:justify ;
        width: 100%;

    }

    .titulos-menu{
        flex-direction: column; 
    }

    .menu-links{
        padding-top: 10px;
    }


    form input, form textarea{
        padding-left: 10px;
        padding-right:0px ;
    }

    @keyframes rotate {

        0% {
            transform: rotate(40deg);      
        }
        100%{
            transform: rotate(88deg);
        }
        
    }
    
    @keyframes rotate2 {
    
        0% {
            transform: rotate(-60deg);      
        }
        100%{
            transform: rotate(-70deg);
        }
        
    }

    /*----------------------horizontal---------------------*/





    @media only screen and (max-width = 1000) {
        
    }
}